@use "../../app/uswds-theme" as *;

.app-grid {
  width: 100%;
  display: grid;
  gap: 1rem;

  list-style: none;
  padding: 0;
  margin: 0;

  /* 1 col mobile */
  grid-template-columns: 1fr;

  /* 2 cols tablet */
  @include at-media("tablet") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* 3 cols desktop */
  @include at-media("desktop") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* 4 cols widescreen */
  @include at-media("widescreen") {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* 5 cols on very large screens */
@media (min-width: 2400px) {
  .app-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
