@use "../../app/uswds-theme" as *;

.app-avatar-image,
.app-avatar-imagePlaceholder {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-bg-page);
}

.app-avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 4px;
  background-color: var(--color-bg-page);
  border-radius: 10px;
}

.app-avatar-imagePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.75rem;
  width: 100%;
  height: 100%;
}
